/* || GENERAL STYLING */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6c284;
}

a {
  text-decoration: none;
  color: black;
}
/* || GENERAL STYLING END*/

/* || CUSTOM FONTS */

/* Font face rule definitions */
@font-face {
  font-family: "Gooper";
  src: local("Gooper Italic"), local("Gooper-Italic"),
    url("/fonts/Gooper-RegularItalic.ttf") format("woff2"),
    url("/fonts/Gooper-RegularItalic.woff") format("woff"),
    url("/fonts/Gooper-RegularItalic.woff2") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Trade Gothic LT Std";
  font-style: normal;
  font-weight: 400;
  src: local("Trade Gothic LT Std"),
    url("https://fonts.cdnfonts.com/s/14462/trade-gothic-lt-std-58a78e64434a9.woff")
      format("woff");
}
/* ... */

/* || CUSTOM FONTS END */

/* || HOME PAGE */

/* Navbar */
.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #baeaf1;
}

.navBarItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  font-family: "Trade Gothic LT Std";
  color: #6a5cc7;
}

.navBarItems #signOutBtn{
  margin-right: 10px;
  color: grey;
}

.navBarItems #userImg {
  height: 30px;
  width: 30px;
}

.logoContainer h1 {
  font-family: "Gooper";
  font-size: 25px;
  font-weight: 700;
  margin: 8px;
  color: #463e7a;
}
/* ... */

/* HERO SECTION */
.heroBanner {
  height: 97vh;
  width: 100%;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.heroBanner img {
  position: absolute;
  height: auto;
  top: 0;
  right: 0;
  z-index: 1;
}

.innerContainer {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}

.callToAction {
  margin-top: 10px;
  margin-left: 10px;
  width: 60%;
  font-size: 90px;
  font-family: "Gooper";
  color: #463e7a;
}

.shopButtonContainer {
  display: flex;
  position: absolute;
  left: 20%;
  margin-top: 100px;
}

.shopBtn {
  width: auto;
  height: auto;
  border-style: solid;
  border-radius: 30px;
  border: none;
  font-family: "Gooper";
  background-color: #eeaac3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shopBtn p {
  margin: 10px;
  font-size: 25px;
  font-weight: 400;
  color: #463e7a;
}
/* ... */

/* SHOP SECTION */
.shopHeading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.shopHeading h1 {
  font-family: "Gooper";
  font-size: 50px;
  color: #463e7a;
}

#checkSection {
  margin-bottom: 10px;
}

#checkSection h1 {
  font-family: "Gooper";
  font-size: 30px;
  color: #6a5cc7;
}

form {
  position: absolute;
  right: 5%;
  z-index: 1;
  margin-top: 40px;
}

#checkContainer {
  margin-top: 10px;
  font-family: "Trade Gothic LT Std";
  font-size: 25px;
  font-weight: 400;
}

.shopItems img {
  height: auto;
  width: auto;
  position: absolute;
  /* left: 5%; */
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  gap: 5px;
}

.quantity input[type="number"] {
  height: 20px;
  width: 30vh;
  text-align: center;
  border-radius: 30px;
  border: none;
}

.submitBtn {
  height: auto;
  width: auto;
  border: none;
  border-radius: 30px;
  background-color: #eeaac3;
  margin: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submitBtn button {
  cursor: pointer;
  border: none;
  background: none;
  margin: 10px;
  font-family: "Gooper";
  font-size: 25px;
  font-weight: 500;
  color: #463e7a;
}
/* ... */

/* || HOME PAGE END */
